li {
  transition: all 0.16s;
}

.dragged {
  opacity: 0.5;
}

.target:not(:has(button)):not(.dragged):not(:has(+ .dragged)) {
  padding-bottom: 1.8rem;
  background-color: var(--shadeThree);
}

.target:not(.dragged):not(:has(+ .dragged)) > input,
.target:not(.dragged):not(:has(+ .dragged)) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.target:not(.dragged) + li:not(.dragged) > input,
.target:not(.dragged) + li:not(.dragged) > button {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
